bin/
obj/

.vs/
.vscode/
*.user
*.suo
*.userosscache
*.userprefs

*.log

*.cache
*.tmp
*.temp
temp/
Temp/
tmp/
Tmp/
*.tmp.*

*.pdb
*.dll
*.exe
*.dbmdl
*.bak

*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

publish/
out/

appsettings.Development.json
/ClipNchic.Api/appsettings.json

.DS_Store
Thumbs.db
desktop.ini

.idea/

ScaffoldingReadMe.txt
